<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>archive</title>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/script.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="../stylesheets/master.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
</head>

<body>

   <nav>
        <logo><img src="../images/logo.png" height="60" ></logo>
        <button id="hamburgerButton">
            <i class="fas fa-bars"></i>
        </button>

        <ul id="navLinks">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/create">Write</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
            <li>
                    <a href="/archive">Archive</a>
                </li>
        </ul>
    </nav>

    <div class="articleContainer">


        <% if (posts) { %>
            <% posts.forEach(function(post){ %>

                <section class="article articel1">
                    <img src="<%= post.img %>">

                    <div class="previewContainer">

                        <h1>
                            <bold>
                                <%= post.title %>
                            </bold>
                        </h1>

                        <%= post.content %>

                            <p class=""> Author:
                                <%= post.author %>
                            </p>
                            <button id="<%= post.id %>">
                                <a href="/<%= post.id %>">Read More</a>
                            </button>
                </section>
                </section>

                <% }); %>
                    <% } %>

                        </div>


                        <footer>
                            ©Copyright 2018. Made by Ridhaa Cupido
                        </footer>

</body>

</html>