<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title>Blog website</title>
    <meta charset="windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/script.js"></script>
    <link rel="stylesheet" href="../stylesheets/master.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">

</head>

<body>


    <nav>
        <logo  width="200"><img src="../images/logo.png" height="70" width="200"></logo>
        <button id="hamburgerButton">
            <i class="fas fa-bars"></i>
        </button>

        <ul id="navLinks">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/create">Write</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </nav>

    <section class="guestArticle">
    <% if (posts) { %>
    <div>
        <h1><%= posts[0].title %></h1>
        <p>By <%= posts[0].author %></p>
        <hr>
        <p>
        <%= posts[0].content %>
        </p>

        <button>Read more</button>
        </div>

       
        <img src="<%= posts[0].img %>">
    
        
       



       
  
    <% } %>
    
    </section>


    <!-- <h1>
            <%=  title %>
        </h1> -->


    <div class="articleContainer">


        <% if (posts) { %>
            <% posts.forEach(function(post){ %>

                <section class="article articel1">
                <img src="<%= post.img %>">

                <div class="previewContainer"

                    <h1> <%= post.title %></h1>
                    
                        <%= post.content %>

                    <p class=""> Author: 
                        <%= post.author %>
                    </p>
                    <button id="<%= post.id %>"><a href="/<%= post.id %>">Read More</a></button>
                </section>
                </section>

                <% }); %>
                    <% } %>

    </div>


</body>

</html>